<a href="https://colab.research.google.com/github/AndersonNiz/Limpeza-e-Tratamento-de-Dados/blob/main/1_Dados_limpos_Cart%C3%A3o_de_cr%C3%A9dito.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [ ]:
# importar dados
dataset = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/FormaçãoCD2/10.Prática em Python/dados/Churn.csv", sep=";")
dataset.head()

   X0   X1  X2        X3  X4  X4.1        X6  X7  X8  X9         X10  X11
0   1  619  RS  Feminino  42     2         0   1   1   1  10134888.0    1
1   2  608  SC  Feminino  41     1   8380786   1   0   1  11254258.0    0
2   3  502  RS  Feminino  42     8   1596608   3   1   0  11393157.0    1
3   4  699  RS  Feminino  39     1         0   2   0   0   9382663.0    0
4   5  850  SC  Feminino  43     2  12551082   1   1   1    790841.0    0

In [ ]:
# tamanho
dataset.shape

(999, 12)

In [ ]:
# dando nome as colunas:
dataset.columns = ["Id", "Score", "Estado", "Genero", "Idade", "Patrimonio", "Saldo", "Produtos,",
                   "TemCartCredito", "Ativo", "Salario", "Saiu"]

In [ ]:
dataset.head()

   Id  Score Estado    Genero  ...  TemCartCredito  Ativo     Salario  Saiu
0   1    619     RS  Feminino  ...               1      1  10134888.0     1
1   2    608     SC  Feminino  ...               0      1  11254258.0     0
2   3    502     RS  Feminino  ...               1      0  11393157.0     1
3   4    699     RS  Feminino  ...               0      0   9382663.0     0
4   5    850     SC  Feminino  ...               1      1    790841.0     0

[5 rows x 12 columns]

# Análise categórica

In [ ]:
# agrupar dados, explorar dados categóricos
agrupado = dataset.groupby(['Estado']).size()
print(agrupado)

agrupado.plot.bar(color = 'grey')

In [ ]:
# explorar colunas numéricas
dataset['Score'].describe()

In [ ]:
# diagrama de caixa
srn.boxplot(dataset['Score']).set_title('Score')

In [ ]:
# histograma
srn.distplot(dataset['Score']).set_title('Score')

In [ ]:
dataset['Idade'].describe()

In [ ]:
srn.boxplot(dataset['Idade']).set_title('Idade')
# os dados apresentam muitos outliers de idade, como -20, 140, 0... erros de entrada de dados

In [ ]:
srn.distplot(dataset['Idade']).set_title('Idade')

In [ ]:
dataset['Saldo'].describe()
srn.boxplot(dataset['Saldo']).set_title('Saldo')

In [ ]:
srn.distplot(dataset['Saldo']).set_title('Saldo')
# muitas pessoas com saldo zero na conta, isso nao representa outliers.

In [ ]:
dataset['Salario'].describe()

In [ ]:
srn.boxplot(dataset['Salario']).set_title('Salario')

In [ ]:
srn.distplot(dataset['Salario']).set_title('Salario')

In [ ]:
# verificação de valores não disponíveis NaN
dataset.isnull().sum()
# Apresenta NaN em uma variavel categórica e em variável numérica

# Tratamento nos dados

Salários

In [ ]:
# NaN para salários é substituido pela mediana
dataset['Salario'].describe()

In [ ]:
mediana = sts.median(dataset['Salario'])
mediana

In [ ]:
# substituição dos salários:
dataset['Salario'].fillna(mediana, inplace=True)

In [ ]:
# verificação
dataset['Salario'].isnull().sum()

Gênero

In [ ]:
# padronização das variáveis de gênero:
agrupado = dataset.groupby(['Genero']).size()
agrupado

In [ ]:
dataset['Genero'].isnull().sum()

In [ ]:
# preencher os valores NaN com a moda (masculino):
dataset['Genero'].fillna('Masculino', inplace=True)

In [ ]:
# padronização de acordo com dominio
dataset.loc[dataset['Genero'] == 'M', 'Genero'] = 'Masculino'
dataset.loc[dataset['Genero'].isin(['Fem', 'F']), 'Genero'] = 'Feminino'

In [ ]:
# Visualizando:
agrupado = dataset.groupby(['Genero']).size()
agrupado

Idade

In [ ]:
dataset['Idade'].describe()

In [ ]:
# visualizar as idades fora do dominio
dataset.loc[(dataset['Idade'] <= 0) | (dataset['Idade'] > 120)]

In [ ]:
# substituição das idades pela mediana
mediana = sts.median(dataset['Idade'])
mediana

In [ ]:
dataset.loc[(dataset['Idade'] <= 0) | (dataset['Idade'] > 120), 'Idade'] = mediana

In [ ]:
# testando:
dataset.loc[(dataset['Idade'] <= 0) | (dataset['Idade'] > 120)]

Dados duplicados

In [ ]:
# verificar a existência
dataset[dataset.duplicated(['Id'], keep=False)]

In [ ]:
# excluindo pelo Id:
dataset.drop_duplicates(subset='Id', keep='first', inplace=True)

In [ ]:
# verificando novamente:
dataset[dataset.duplicated(['Id'], keep=False)]

Estado

In [ ]:
# estados fora do dominio:
agrupado = dataset.groupby(['Estado']).size()
agrupado

In [ ]:
# os categóricos RP, SP E TD (não condizentes) são substituidos pela moda(RS):
dataset.loc[dataset['Estado'].isin(['RP', 'SP', 'TD']), 'Estado'] = 'RS'

In [ ]:
# verificando:
agrupado = dataset.groupby(['Estado']).size()
agrupado

Salário

In [ ]:
# salarios com 2 * desv são substituidos pela mediana:
desv = sts.stdev(dataset['Salario'])
desv

In [ ]:
mediana = sts.median(dataset['Salario'])
mediana

In [ ]:
# localizando salarios:
dataset.loc[dataset['Salario'] >= 2*desv]

In [ ]:
# substituindo:
dataset.loc[dataset['Salario'] >= 2* desv, 'Salario'] = mediana

In [ ]:
# localizando novamente:
dataset.loc[dataset['Salario'] >= 2*desv]

Dados tratados:

In [ ]:
dataset.head(10)

In [ ]:
dataset.shape